$mainBrandColorRed: #CB272D;
$mainSectionMargin: 70px;
$mainSectionPadding: 70px;
$h2MainSize: 80px;
$h4MainSize: 20px;
$h2MainWeight: 800;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.4s;
}

.flex{
    display: flex;

    &.justifyCenter{
        justify-content: center;
    }

    &.justifySpaceBetween{
        justify-content: space-between;
    }

    &.justifySpaceAround{
        justify-content: space-around;
    }
}

a{
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
    
}

img{
    max-width: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

button{
    box-sizing: border-box;

    
    min-width: 286px;
    height: 43.26px;
    text-align: center;
    

    background: #CB272D;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 4px 5px rgba(150, 150, 150, 0.35);
    border-radius: 2px;

    color: white;
    font-weight: 700;
    font-size: 24px;
}

strong{
    &.redColor{
        color: $mainBrandColorRed;
        font-weight: 700;
    }
}

header{

    $paddingLR: 125px;

    display: flex;
    min-height: 107px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.92);
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px $paddingLR;

    font-family: 'Lalezar', sans-serif;

    z-index: 1000;

    .logo{
        height: 60px;
    }

    ul{
        display: flex;
        list-style: none;
        gap: 18px;
        color: black;
        
        a{
            color: black;
            text-decoration: none;
        }
    }
}

section.mainBanner{
    padding-top: 115px;
    background-image: url('../img/bannerImg59.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    // justify-content: space-around;
    align-items: start;
    padding: 115px 124px;
    flex-direction: column;
    justify-content: center;
    

    h2{
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 15px;
        // min-width: 730px;
        width: 1250px;
        letter-spacing: 0.7px;
        line-height: 70px;
        height: 210px;

        div.typeWriter{
            width: inherit !important;
            span.typeSpan{
                display: inline-block;
                width: inherit;
            }
        }
    }

    div.flex{
        flex-direction: column;
        
        button{
            width: fit-content;
        }
    }
}

section.aboutUs{
    margin-top: $mainSectionMargin;
    width: 100%;
    position: relative;

    h2{
        margin-bottom: $mainSectionMargin;
        text-align: center;
        font-size: $h2MainSize;
        font-weight: $h2MainWeight;
    }

    div.leftAndRightAboutUs{
        flex-direction: row;

        width: 100%;

        gap: 55px;

        align-items: center;

        .leftSide{
            width: 43%;
        }

        .rightSide{
            .boldRed{
                font-weight:  bold;
                color: #CB272D;

                &.italic{
                    font-style: oblique;
                }
            }

            

            .atuacao, .trabalhamosCom, .qualidadeSeguranca{
                display: flex;    
                justify-content: start;
                flex-direction: column;
                align-items: start;   
            }

            h3{
                margin: 0;
            }

            display: flex;
            width: 45%;
            align-items: start;
            flex-direction: column;
        }

        .WeWorkIcon{
            .mainIcon{
                align-items: center;
                gap: 15px;

                img{
                    width: 40px;
                }
            }

            .WeWorkTitleDesc{
                align-items: center;
                gap: 15px;
            }
        }

        // $rightSideWidth: 750 - 60%;
        // .rightSide{
        //     width: $rightSideWidth;
        // }   

    }

    button.buttonAboutUsSeeServices{
        &:hover{
            transform: scale(1.01);
            cursor: pointer;
        }
    }
}


@mixin mountainSectionTitle{
    .titleTop{
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            margin: 0;
        }
    }

    .absolute{
        position: absolute;
        width: 100%;

        h2{            
            text-align: center;
            color: white;
            font-size: $h2MainSize;
            margin: 0;
        }
    }

    
}

section.services{
    position: relative;
    width: 100%;

    @include mountainSectionTitle();

    .mainSlideWorks{
        h4{
            font-size: $h4MainSize;
            text-align: center;
            padding: 0px 435px;
        }

        .pastClients{
            margin-top: $mainSectionMargin;
            margin-bottom: 5px;
            text-align: center;
            font-size: 32px;
        }

        .SwiperMainComponent{
            margin-top: 75px;
        }

        div.slideNossosParceiros{
            .SwiperMainComponent{
                margin-top: 35px;
            }   
        }

        .lineRed{

        }

        .lineBlack{
            
        }

        div.slidePartners{
            display: flex;
            justify-content: center;
            gap: 45px;

            

            img{
                $width: 120px;
                width: $width;
                height: $width - 50px;
                object-fit: cover;
            }
        }

        div.slideServices{
            display: flex;
            justify-content: center;
            gap: 45px;

            img{
                $width: 700px;
                width: $width;
                height: $width - 300px;
                object-fit: cover;
            }

            h3{
                position: absolute;
            }

            .slideContentContainer{
                position: relative;
                width: fit-content;

                .slideTitleContainer{
                    position: absolute;
                    bottom: 4px;
                    width: 100%;
                    background-color: rgb(203 39 45 / 9%);
                    height: 60px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    font-weight: 600;
                    font-size: 23px;
                    backdrop-filter: blur(8px);

                    h3{
                        margin: 0;
                    }
                }
            }
            
        }

        
    }

    .contactServices{
        margin-top: 35px;

        button{
            min-width: 316px;
            height: 51.26px;
            
            &:hover{
                cursor: pointer;
                transform: scale(1.01);
            }
        }
    }

    
}

.swiper-button-next, .swiper-button-prev{
    color: red !important;
}

section.contactUs{
    margin-top: $mainSectionMargin;
    position: relative;
    width: 100%;

    @include mountainSectionTitle();

    
    .absolute h2{
        margin: 140px 0 0 0;
    }

    h4{
        text-align: center;
        padding: 0 300px;
        font-size: $h4MainSize;
    }

    .contactInfo{
        position: relative;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: $mainSectionMargin;
        

        color: white;

        .mountainsContact{
            position: absolute;
            width: 100%;
        }

        .topContactMountains, .bottomContactMountains{
            position: relative;
            z-index: -1;
            width: 100%;

            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            img{
                width: 100%;
            }
        }

        .leftSide{
            width: 50%;
        }

        .rightSide{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 900;

            h3{
                font-size: 32px;
            }

            .detailedContactInfo{
                flex-direction: column;

                .contactItem{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    gap: 15px;

                    &:hover{
                        transform: scale(1.01);
                     
                        cursor: pointer;
                    }

                    img{
                        width: 41px;
                        height: 41px;
                        object-fit: contain;
                    }
                }

                p{
                    font-size: 24px;
                }
            }

            button{
               
                width: 420px;
                height: 69px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1d2d8b;
                border: #ffffff9c 2px solid;
                border-radius: 4px;

                &:hover{
                    transform: scale(1.01);
                    border: #ffffffd3 2.1px solid;
                    cursor: pointer;
                }

                .flex{
                    gap: 5px;
                    align-items: center;


                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
}