$mainBrandColorRed: #CB272D;
$mainSectionMargin: 70px;
$mainSectionPadding: 70px;
$h2MainSize: 60px;
$h2MainWeight: 800;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.4s;
}

.flex{
    display: flex;

    &.justifyCenter{
        justify-content: center;
    }

    &.justifySpaceBetween{
        justify-content: space-between;
    }

    &.justifySpaceAround{
        justify-content: space-around;
    }
}

img{
    max-width: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

button{
    box-sizing: border-box;

    
    min-width: 286px;
    height: 43.26px;
    text-align: center;
    

    background: #CB272D;
    border: 1px solid rgba(255, 255, 255, 0.11);
    box-shadow: -1px 4px 5px rgba(150, 150, 150, 0.35);
    border-radius: 2px;

    color: white;
    font-weight: 700;
    font-size: 24px;
}

strong{
    &.redColor{
        color: $mainBrandColorRed;
        font-weight: 700;
    }
}

header{

    $paddingLR: 125px;

    display: flex;
    min-height: 107px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.92);
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px $paddingLR;

    font-family: 'Lalezar', sans-serif;

    z-index: 1000;

    .logo{
        height: 60px;
    }

    ul{
        display: flex;
        list-style: none;
        gap: 18px;
        color: black;
        
        a{
            color: black;
            text-decoration: none;
        }
    }
}

section.mainBanner{
    padding-top: 115px;
    background-image: url('../img/bannerImg59.jpeg');
    background-position: center;
    min-height: 100vh;
    color: white;
    display: flex;
    // justify-content: space-around;
    align-items: start;
    padding: 115px 124px;
    flex-direction: column;
    justify-content: center;

    h2{
        font-weight: 700;
        font-size: 72px;
        margin-bottom: 15px;
        width: 730px;
        letter-spacing: 0.7px;
        line-height: 70px;
    }

    div.flex{
        flex-direction: column;
        
        button{
            width: fit-content;
        }
    }
}

section.aboutUs{
    margin-top: $mainSectionMargin;
    width: 100%;
    position: relative;

    h2{
        margin-bottom: $mainSectionMargin;
        text-align: center;
        font-size: $h2MainSize;
        font-weight: $h2MainWeight;
    }

    div.leftAndRightAboutUs{
        flex-direction: row;

        width: 100%;

        gap: 55px;

        align-items: center;

        .leftSide{
            width: 43%;
        }

        .rightSide{
            .boldRed{
                font-weight:  bold;
                color: #CB272D;

                &.italic{
                    font-style: oblique;
                }
            }

            

            .atuacao, .trabalhamosCom, .qualidadeSeguranca{
                display: flex;    
                justify-content: start;
                flex-direction: column;
                align-items: start;   
            }

            h3{
                margin: 0;
            }

            display: flex;
            width: 45%;
            align-items: start;
            flex-direction: column;
        }

        .WeWorkIcon{
            .mainIcon{
                align-items: center;
                gap: 15px;

                img{
                    width: 40px;
                }
            }

            .WeWorkTitleDesc{
                align-items: center;
                gap: 15px;
            }
        }

        // $rightSideWidth: 750 - 60%;
        // .rightSide{
        //     width: $rightSideWidth;
        // }   

    }
}

section.services{
    position: relative;
    width: 100%;

    .titleTop{
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            margin: 0;
        }
    }

    .absolute{
        position: absolute;
        width: 100%;

        h2{            
            text-align: center;
            color: white;
            font-size: $h2MainSize;
        }
    }

    .mainSlideWorks{
        h4{
            font-size: 20px;
            text-align: center;
            padding: 0px 435px;
        }

        .SwiperMainComponent{
            margin-top: 75px;
        }

        .lineRed{

        }

        .lineBlack{
            
        }

        div.slideServices{
            display: flex;
            justify-content: center;
            gap: 45px;

            img{
                $width: 700px;
                width: $width;
                height: $width - 300px;
                object-fit: cover;
            }

            h3{
                position: absolute;
            }

            .slideContentContainer{
                position: relative;
                width: fit-content;

                .slideTitleContainer{
                    position: absolute;
                    bottom: 4px;
                    width: 100%;
                    background-color: rgb(203 39 45 / 9%);
                    height: 60px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    font-weight: 600;
                    font-size: 23px;
                    backdrop-filter: blur(8px);

                    h3{
                        margin: 0;
                    }
                }
            }
            
        }

        
    }

    .contactServices{
        margin-top: 35px;
    }
}

.swiper-button-next, .swiper-button-prev{
    color: red !important;
}