@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&display=swap");
* {
  box-sizing: border-box;
  transition: all 0.4s;
}

.flex {
  display: flex;
}
.flex.justifyCenter {
  justify-content: center;
}
.flex.justifySpaceBetween {
  justify-content: space-between;
}
.flex.justifySpaceAround {
  justify-content: space-around;
}

img {
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

button {
  box-sizing: border-box;
  min-width: 286px;
  height: 43.26px;
  text-align: center;
  background: #CB272D;
  border: 1px solid rgba(255, 255, 255, 0.11);
  box-shadow: -1px 4px 5px rgba(150, 150, 150, 0.35);
  border-radius: 2px;
  color: white;
  font-weight: 700;
  font-size: 24px;
}

strong.redColor {
  color: #CB272D;
  font-weight: 700;
}

header {
  display: flex;
  min-height: 107px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.92);
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0px 125px;
  font-family: "Lalezar", sans-serif;
  z-index: 1000;
}
header .logo {
  height: 60px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 18px;
  color: black;
}
header ul a {
  color: black;
  text-decoration: none;
}

section.mainBanner {
  padding-top: 115px;
  background-image: url("../img/bannerImg59.jpeg");
  background-position: center;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: start;
  padding: 115px 124px;
  flex-direction: column;
  justify-content: center;
}
section.mainBanner h2 {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 15px;
  width: 1250px;
  letter-spacing: 0.7px;
  line-height: 70px;
  height: 210px;
}
section.mainBanner h2 div.typeWriter {
  width: inherit !important;
}
section.mainBanner h2 div.typeWriter span.typeSpan {
  display: inline-block;
  width: inherit;
}
section.mainBanner div.flex {
  flex-direction: column;
}
section.mainBanner div.flex button {
  width: fit-content;
}

section.aboutUs {
  margin-top: 70px;
  width: 100%;
  position: relative;
}
section.aboutUs h2 {
  margin-bottom: 70px;
  text-align: center;
  font-size: 80px;
  font-weight: 800;
}
section.aboutUs div.leftAndRightAboutUs {
  flex-direction: row;
  width: 100%;
  gap: 55px;
  align-items: center;
}
section.aboutUs div.leftAndRightAboutUs .leftSide {
  width: 43%;
}
section.aboutUs div.leftAndRightAboutUs .rightSide {
  display: flex;
  width: 45%;
  align-items: start;
  flex-direction: column;
}
section.aboutUs div.leftAndRightAboutUs .rightSide .boldRed {
  font-weight: bold;
  color: #CB272D;
}
section.aboutUs div.leftAndRightAboutUs .rightSide .boldRed.italic {
  font-style: oblique;
}
section.aboutUs div.leftAndRightAboutUs .rightSide .atuacao, section.aboutUs div.leftAndRightAboutUs .rightSide .trabalhamosCom, section.aboutUs div.leftAndRightAboutUs .rightSide .qualidadeSeguranca {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
section.aboutUs div.leftAndRightAboutUs .rightSide h3 {
  margin: 0;
}
section.aboutUs div.leftAndRightAboutUs .WeWorkIcon .mainIcon {
  align-items: center;
  gap: 15px;
}
section.aboutUs div.leftAndRightAboutUs .WeWorkIcon .mainIcon img {
  width: 40px;
}
section.aboutUs div.leftAndRightAboutUs .WeWorkIcon .WeWorkTitleDesc {
  align-items: center;
  gap: 15px;
}

section.services {
  position: relative;
  width: 100%;
}
section.services .titleTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section.services .titleTop img {
  margin: 0;
}
section.services .absolute {
  position: absolute;
  width: 100%;
}
section.services .absolute h2 {
  text-align: center;
  color: white;
  font-size: 80px;
  margin: 0;
}
section.services .mainSlideWorks h4 {
  font-size: 20px;
  text-align: center;
  padding: 0px 435px;
}
section.services .mainSlideWorks .SwiperMainComponent {
  margin-top: 75px;
}
section.services .mainSlideWorks div.slideServices {
  display: flex;
  justify-content: center;
  gap: 45px;
}
section.services .mainSlideWorks div.slideServices img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}
section.services .mainSlideWorks div.slideServices h3 {
  position: absolute;
}
section.services .mainSlideWorks div.slideServices .slideContentContainer {
  position: relative;
  width: fit-content;
}
section.services .mainSlideWorks div.slideServices .slideContentContainer .slideTitleContainer {
  position: absolute;
  bottom: 4px;
  width: 100%;
  background-color: rgba(203, 39, 45, 0.09);
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 23px;
  backdrop-filter: blur(8px);
}
section.services .mainSlideWorks div.slideServices .slideContentContainer .slideTitleContainer h3 {
  margin: 0;
}
section.services .contactServices {
  margin-top: 35px;
}

.swiper-button-next, .swiper-button-prev {
  color: red !important;
}

section.contactUs {
  position: relative;
  width: 100%;
}
section.contactUs .titleTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section.contactUs .titleTop img {
  margin: 0;
}
section.contactUs .absolute {
  position: absolute;
  width: 100%;
}
section.contactUs .absolute h2 {
  text-align: center;
  color: white;
  font-size: 80px;
  margin: 0;
}
section.contactUs .absolute h2 {
  margin: 140px 0 0 0;
}
section.contactUs h4 {
  text-align: center;
  padding: 0 300px;
  font-size: 20px;
}
section.contactUs .contactInfo {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
}
section.contactUs .contactInfo .mountainsContact {
  position: absolute;
  width: 100%;
}
section.contactUs .contactInfo .topContactMountains, section.contactUs .contactInfo .bottomContactMountains {
  position: relative;
  z-index: -1;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
section.contactUs .contactInfo .topContactMountains img, section.contactUs .contactInfo .bottomContactMountains img {
  width: 100%;
}
section.contactUs .contactInfo .leftSide {
  width: 50%;
}
section.contactUs .contactInfo .rightSide {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */